{% extends "./basic.html" %}
{% block title %}Должности{% endblock %}
{% block content %}
<a href="{{ url_for('get_form_add_position') }}">Добавить должность</a>
    <table>
          <colgroup>
              <col span="1" style="background:Khaki">
              <col span="1" style="background-color:green">
              <col span="1" style="background-color:red">
          </colgroup>
        <tr>
            <th>Название должности</th>
        </tr>
        {% for position in positions%}
        <tr>
            <td>{{position.title}}</td>
            <td><a href="{{ url_for('get_form_edit_position', position_id=position.id) }}">Редактировать</a></td>
            <td><button onclick="deletePosition({{position.id}})">Удалить</button></td>
        </tr>
        {%endfor%}


<script>
        async function deletePosition(id) {
            const response = await fetch(`/position/delete/${id}`, {
                method: "DELETE",
                headers: { "Accept": "application/json" }
            });
            location.reload();
        }

</script>
    </table>
{% endblock content %}